.background
{
  background-color: #272B33;
}

.main_card
{
  background: #3C3E44;
  color: white;
  transform: translateY(0px);
  
  text-align: center;
  transition: .5s;
}

img
{
  transform: rotateY(0deg);
  object-fit: cover;
}

.main_card:hover img
{
  transform: rotateY(360deg);
}

.main_card:hover
{
  transform: translateY(-10px);
  
  transition: .5s;
  box-shadow: 2px 2px 5px black;
}

.load
{
  height: 98vh;
  background-color: rgba(0, 0, 0, 0.8);
}


.location_hover
{
  color:rgb(202, 200, 200);
  transition: .5s;
}

.main_card:hover .location_hover
{
  color:rgb(153, 82, 16);
  /* font-size: larger; */
}

.main_card:hover .img_hover img
{
    transform: rotateY(360deg);
    transition: .5s;
}